.loader {
        position: relative;
      }
      .loader:before ,  .loader:after {
          content: '';
          width: 15px;
          height: 15px;
          display: block;
          position: relative;
          margin: 10px auto ;
          border-radius: 50%;
          background: #fff;
          animation: left 1s infinite ease-in-out;
        }
        .loader:after {
          background: #166665;
          animation: right 1s infinite ease-in-out;
        }


      @keyframes right {
        0% , 100%{transform: translate(-15px) }
        50% { transform: translate(15px) }
      }

      @keyframes left {
        0% , 100%{ transform: translate(15px) }
        50% { transform: translate(-15px) }
      }

      
      