@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  position: relative;
  min-height: 100vh;
}

body {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-content {
  min-height: 70vh;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(59, 59, 59);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e96e30;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9b451a;
}
